.home-container {
  background-color: #000000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.pokemon-heading-icon {
  color: #ffffff;
  height: 150px;
  width: 300px;
  margin: 0px;
}

.main-heading {
  color: #ffffff;
  font-size: 28px;
  font-family: "Roboto";
}
